@model IEnumerable<AutoPartsHub.Models.TblBrand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-theme">
                <h4 class="card-title text-white">Brands</h4>
                <button type="button" class="btn bg-white" id="CreateUser">
                    <a asp-action="Create" class="text-theme" style="color:#fff">Create New</a>
                </button>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th>Brand Image</th>
                                <th>Brand Name</th>
                                <th>Brand Title</th>
                                <th>Brand ShortName</th>
                                <th>Brand Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                             @*    var truncatedDescription = TruncateDescription(item.BrandDescription, 50);
                                var isLongDescription = item.BrandDescription.Split(' ').Length > 50; *@
                                <tr>
                                    <td>
                                        <img src="@Html.DisplayFor(modelItem => item.BrandImage)" alt="brandImg" class="w-100 img-responsive" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandShortName)
                                    </td>
                                    <td>
                                       @*  <div class="description-container">
                                            <span class="short-description" style="display: @(isLongDescription ? "inline" : "none")">
                                                @Html.Raw(truncatedDescription)
                                            </span>
                                            <span class="full-description" style="display: none;">
                                                @Html.Raw(item.BrandDescription)
                                            </span>
                                            @if (isLongDescription)
                                            {
                                                <a href="#" class="toggle-description">See more</a>
                                            }
                                        </div> *@

                                        @Html.DisplayFor(modelItem => item.BrandDescription)


                                    </td>
                                    <td style="display: flex; justify-content: center;">
                                        <a asp-action="Edit" class="btn btn-sm m-2 btn-primary" asp-route-id="@item.BrandId">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form asp-action="Delete" method="post" class="deleteForm m-2">
                                            <input type="hidden" name="id" value="@item.BrandId" />
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toggle-description').on('click', function (event) {
                event.preventDefault();

                var $container = $(this).closest('.description-container');
                var $shortDesc = $container.find('.short-description');
                var $fullDesc = $container.find('.full-description');

                if ($shortDesc.is(':visible')) {
                    $shortDesc.hide();
                    $fullDesc.show();
                    $(this).text('See less');
                } else {
                    $shortDesc.show();
                    $fullDesc.hide();
                    $(this).text('See more');
                }
            });
        });

        function TruncateDescription(description, wordLimit) {
            var words = description.split(' ');
            if (words.length <= wordLimit) {
                return description;
            }
            return words.slice(0, wordLimit).join(' ') + ' ...';
        }
    </script>
}
